*{
    margin: 0;
    padding: 0;
}
body{
    background-color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #000042;
    height: 100px;
    position: sticky;
    top: 0;
    z-index: 99;

}
header ul{
    padding-top: 20px;
    list-style: none;
}
header ul li a{
    color: white;
    text-decoration: none;
}
#logo img{
    padding-left: 20px;
    padding-top: 30px;
}
nav{
    display: flex;
    z-index: 99;
    position: sticky;
    top: 0;
    padding-top: 10px;
}
nav ul{
    background-color: #000042;
    list-style: none;
}

#menu ul li{
    float: left;
}
#menu ul li:hover{
    background: #003694;
}
#menu ul li a{
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}
#menu ul li:hover a{
    color: white;
}
#menu ul li:hover > ul{
    display: block;
}
#menu ul ul{
    background: #00a7ff;
    position: absolute;
    padding: 0;
    display: none;
    width: auto;
}
#menu ul ul li{
    float: none;
    position: relative;
}
#menu ul ul li a{
    padding: 10px 30px;
    color: #003694;
}
#menu ul ul li a:hover{
    background: #003694;
    color: white;
}
#menu ul ul ul{
    position: absolute;
    left: 100%;
    top: 0;
}
#menu ul ul ul li{
    width: 180px;
}
#kontak{
    float: right;
}
#kontak ul{
    list-style: none;
    padding-right: 20px;
    font-size: 15px;
}
#kontak hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    color: white;
}
#kontak img{
    width: 15px;
    height: auto;
} 

.konten-header {
    position: relative;
}

#bg img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    filter: brightness(40%);
}

#judul{
    top:0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    margin: auto;
    height: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}S

.konten-page-3 {
    display: flex;
    flex-direction: column;
}

.konten-page-3 table {
    border-spacing: 50px;
}

.konten-page-3 table tr td{
    width: 50%;
    border-radius: 20px;
    border: 5px solid #000042;
    padding: 50px;
    box-shadow: 10px 10px #000042;
}



footer{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
    background-color: #000042;
}

footer .konten-footer-1{
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 50vw;
}

footer .konten-footer-1 img{
    width: 300px;
    height: auto;
}

footer .konten-footer-1 p{
    color: white;
    font-size: 12px;
}

footer .konten-footer-1 a{
    color: white;
}

footer .garis{
    border: 2px solid white;
    height: 75%;
}

footer .konten-footer-2 {
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    gap: 100px;
}

footer .konten-footer-2 h4 {
    margin-bottom: 20px;
    color: white;
}

footer .konten-footer-2 ul {
    list-style: none;
}

footer .konten-footer-2 ul li {
    margin-bottom: 10px;
}

footer .konten-footer-2 ul li a {
    text-decoration: none;
    color: white;
}

footer .konten-footer-2 ul li a:hover {
    text-decoration: underline;
    color: white;
}
.copyright{
    background-color: #000042;
    text-align: center;
    color: white;
    font-size: 12px;
}

